
@{
    ViewBag.Title = "FHIRCLIENT MAIN PAGE";
}

<h2>Main Navigation</h2>
<ul>
    <li>@Html.ActionLink("Search", "Index", "SearchResource")</li>
    <li>@Html.ActionLink("Create", "Index", "CreateResource")</li>
    <li>@Html.ActionLink("Update", "Index", "UpdateResource")</li>
    <li>@Html.ActionLink("Delete", "Index", "DeleteResource")</li>
    <li>@Html.ActionLink("History", "Index", "ResourceHistory")</li>
</ul>
